@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin : 0px;
    padding : 0px;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
/* the body */
body {
    height : 100vh;
    background-image:url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: transparent;
    backdrop-filter: blur(20px);
    max-width: 500px;
    width : 100%;
    margin : 2rem auto;
    padding : 2rem;
    border-radius:  15px;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
    display: grid;
    /* grid-template-columns: 1fr; */
}

/* title : */

.title {
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    margin-bottom: 10px;
}
.title img {
    width : 30px;
    height : 30px;
    margin-left : 10px
}
.title h4{
    color :rgb(255, 255, 255);
}

/* get task from input : */
.add-task {
    /* background-color: aqua; */
    height : 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.add-task input{
    height :100%;
    border-radius: 15px;
    flex :1;
    outline: none;
    border: none;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0.107);
    padding-left: 12px;
    color : white;
    font-weight: 600;
}
.add-task input::placeholder{
    color : white;
    opacity: .2;
}

.add-task button {
    width :130px;
    height :100%;
    border: none;
    outline: none;
    cursor: pointer;  
    border-radius: 15px; 
    position: absolute;
    right :0px ;
    background-color: rgb(167, 158, 125);
    color : white;
}
.add-task button:hover{
    /* border: 2px solid rgb(85, 206, 254); */
    background:linear-gradient(300deg,rgb(189, 162, 127), rgb(195, 185, 142));
    /* color :rgb(12, 166, 255) */
}
/* list of task :  */
ul{
    /* background-color: rgb(71, 148, 216); */
    list-style: none;
    padding : 2rem;

}
ul li {
    margin-bottom : 10px;
    font-weight: 500;
    padding-left : 20px;
    display: flex;
    align-items: center;
    /* user-select: none; */
    position: relative;
    cursor: pointer;
    /* background-color: brown; */
    color : white;
}

ul li::before{
    content: "";
    position: absolute;
    height : 20px;
    width : 20px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: -19px;
}
.checked{
    color : #cfcfcf;
    text-decoration: line-through;
}
.checked::before{
    background-image: url("images/checked.png");
}
li span{
    position: absolute;
    right : -1px;
    /* background-color: red;  */
    margin-left : 2px ; 
    color : rgb(224, 221, 221); 
    width  : 30px;
    height : 30px; 
    padding : .3rem;
    text-align: center;
    /* background-color: red; */
    transition: .2s ease;
    cursor: pointer;

}
li span:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color : black;

}

/* media Query : */

@media (max-width : 600px)
{
    .container{
        max-width : 300px;

    }
    .add-task button{
        width :80px;
    }
    li span{
        right : -35px
    }
}